@model IEnumerable<BingeBuddy.Models.UserShow>

@{
    ViewData["Title"] = "CaughtUpIndex";
}

<h1>CaughtUpIndex</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastWatchedSeason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastWatchedEpisode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastReleasedSeason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastReleasedEpisode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateUpdated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlatformId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShowId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastWatchedSeason)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastWatchedEpisode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastReleasedSeason)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastReleasedEpisode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateUpdated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlatformId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShowId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
