@model IPagedList<BingeBuddy.Models.UserShow>

@{
    ViewData["Title"] = "CurrentlyWatchingIndex";
}
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using System.Web.Mvc;

<h2>Currently Watching</h2>

<p>
    <a asp-action="Create" style="color: blue">Create New</a>
</p>
<table class="table">
    <thead>
        <tr class="rowStyle">
            <th>
                @Html.DisplayNameFor(model => model.First().Show.CoverImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Show.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Platform.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().LastReleased)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().LastWatched)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().DateUpdated)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="rowStyle">
                <td>
                   <img style="width: 100px" src="@item.Show.CoverImage" alt="Cover Image" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Show.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Platform.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastReleased)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastWatched)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateUpdated)
                </td>

                <td>
                    <button class="btn-primary">@Html.ActionLink("Edit", "Edit", new { id = item.Id })</button>
                    <button class="btn-primary">@Html.ActionLink("Delete", "Delete", new { id = item.Id })</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager(Model, i => Url.Action("CurrentlyWatchingIndex", "Show", new {i}))