@model BingeBuddy.Models.UserShow

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UserShow</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastWatchedSeason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastWatchedSeason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastWatchedEpisode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastWatchedEpisode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastReleasedSeason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastReleasedSeason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastReleasedEpisode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastReleasedEpisode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateUpdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlatformId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlatformId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShowId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShowId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
