@model IPagedList<BingeBuddy.Models.Show>

@{
    ViewData["Title"] = "ApprovedShowsIndex";
}
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using System.Web.Mvc;

<h2>Approved Shows</h2>

<p>
    <a asp-action="Index" style="color: blue">Back to Main List</a>
</p>
<table class="table">
    <thead>
        <tr class="rowStyle">
            <th>
                @Html.DisplayNameFor(model => model.First().CoverImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Cancelled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Approved)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="rowStyle">
                <td>
                   <img style="width: 100px" src="@item.CoverImage" alt="Cover Image" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cancelled)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Approved)
                </td>
                @if (User.IsInRole("True"))
                {
                    <td>
                        <button class="btn-primary">@Html.ActionLink("Edit", "Edit", new { id = item.Id })</button>
                        <button class="btn-primary">@Html.ActionLink("Delete", "Delete", new { id = item.Id })</button>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager(Model, i => Url.Action("ApprovedShowsIndex", "Show", new {i}))